.cards {
  padding: 4rem;
  background: #fff;
  width: 100%;
  
}

h2 {
  margin: 2% auto;
}

hr {
  margin: 3% auto 1%;
}

.faq-list li {
  text-align: left;
  margin-left: 15%;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: contain;
  margin-bottom: 24px;
  padding: 24px;
  width: 100%;
  
}





label {
  margin-right: 5%;
}



input[type=text], select {
  width: 50%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #0172ce;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=radio], select {
  margin-right: 2%;
}



input[type=number], select {
  width: 30%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 820px) {
  .body-input {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.section-title {
  font-family: #4c91ad;
  font-size: 18px;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eae7e5;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #4c91ad;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-weight: 600;
  padding-left: 25px;
  cursor: pointer;
  color: #c54811;
  transition: 0.3s;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  padding-top: 10px;
  color: #4c91ad;
}

.faq .faq-list .collapsed:hover {
  color: #4c91ad;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

.body-input {
  padding: 8px 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 1px solid rgb(15, 15, 15);
}

.body-input::placeholder {
  color: rgb(15, 15, 15);
}

#faq {
  background-color: #fff;
  padding: 8%;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
